/*Created 2015-02-28 by the CodeCloud Team
This is a Saas file has an 'Asset Type' of SCSS. CSS will be compiled when saving.
For more information on asset types please see http://www.getcodecloud.com/docs#SaSS
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family:'Open Sans';
}

#content{
    margin-top:100px;
    font-size:150px;
    text-align:center;
}

#header{
    background: rgba(0,0,0, 0.7);
}

/* Mobile devices (768px)*/
@media (max-width: 768px){
    
}
/* Small devices (tablets, 769px and up) */
@media (min-width: 769px) {

    #hero{
        background-image:url(http://assets.codecloudapp.com/sites/568d5ba06e6f6402d6000000/image/png/1452631255000/hero_banner.png);
        background-size:cover;
        position:relative;
        height:100vh;
    }
    
    .main_container{
        width:750px;
        margin:0 auto;
        padding: 0 20px;
    }
    
    .main_logo {
        width: 185px;
        margin-top: 10px;
    }
    
    #header{
        padding: 14.5px 0;
        position: fixed;
        width: 100%;
        z-index: 999;
        top:0;
    }
    
    .custom_nav{
        float:right;
        list-style:none;
        margin: 0;
        padding: 0;
        li{
            float:left;
            padding: 17px;
            a{
                color: #fff;
                font-size:16px;
                &:hover, &:focus{
                    text-decoration:none;
                    color: #FFBE1D;
                }
            }
            .sign_up{
                border: 1px solid;
                padding: 7px 22px;
                border-radius: 4px;
            }
        }
    }
    
    .features{
        position:absolute;
        
    }
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main_container{
        width:960px;
    }
    .main_logo{
        width:257px;
        margin-top: 0px;
    }
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main_container{
        width:1140px;
    }
    
    
}